name: Deploy Lambda Function

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest  # Use the latest Ubuntu runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'  # Ensure Python 3.10 is used

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::905418049972:role/TerraformExecutionRole
          aws-region: us-east-1  # Specify the AWS region

      - name: Install Make
        run: sudo apt-get install make  # Install make utility to run the Makefile

      - name: Run Makefile to install dependencies and package Lambda
        run: make package_lambda  # Runs the Makefile to install dependencies and create the Lambda deployment package

      - name: Check if Lambda function exists
        id: check_lambda
        run: |
          FUNCTION_EXISTS=$(aws lambda get-function --function-name my-lambda-function --query 'Configuration.FunctionName' --output text || echo "NOT_FOUND")
          if [ "$FUNCTION_EXISTS" == "NOT_FOUND" ]; then
            echo "Lambda function does not exist."
            echo "::set-output name=exists::false"
          else
            echo "Lambda function exists: $FUNCTION_EXISTS"
            echo "::set-output name=exists::true"
          fi  

      - name: Deploy Lambda function
        run: |
          if [ "${{ steps.check_lambda.outputs.exists }}" == "true" ]; then
            echo "Lambda function exists, updating..."
            aws lambda update-function-code --function-name my-lambda-function --zip-file fileb://lambda-deploy.zip --region us-east-1
          else
            echo "Lambda function does not exist, creating..."
            aws lambda create-function --function-name my-lambda-function \
              --zip-file fileb://lambda-deploy.zip \
              --handler lambda_function.lambda_handler \
              --runtime python3.10 \  # Specify Python 3.10 runtime for Lambda
              --role arn:aws:iam::905418049972:role/Lambda-SNS-Integration-Role  # Replace with your Lambda execution role ARN
              --region us-east-1
          fi

      - name: Clean up
        run: make clean  # Clean up generated files after deployment
