name: Deploy Lambda Function

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest  # Use the latest Ubuntu runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'  # Ensure Python 3.10 is used

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::905418049972:role/TerraformExecutionRole
          aws-region: us-east-1  # Specify the AWS region

      - name: Install Make
        run: sudo apt-get install make  # Install make utility to run the Makefile

      - name: Run Makefile to install dependencies and package Lambda
        run: make package_lambda  # Runs the Makefile to install dependencies and create the Lambda deployment package

      - name: Upload Lambda zip to S3
        run: |
          aws s3 cp lambda-deploy.zip s3://checklamdba1/lambda-deploy.zip1

      - name: Check if Lambda function exists
        id: check_lambda
        run: |
          FUNCTION_EXISTS=$(aws lambda get-function --function-name my-lambda-function --query 'Configuration.FunctionName' --output text 2>/dev/null || echo "NOT_FOUND")
          
          if [ "$FUNCTION_EXISTS" == "NOT_FOUND" ]; then
            echo "Lambda function does not exist."
            echo "exists=false" >> $GITHUB_ENV  # Set environment variable for subsequent steps
          else
            echo "Lambda function exists: $FUNCTION_EXISTS"
            echo "exists=true" >> $GITHUB_ENV  # Set environment variable for subsequent steps
          fi

      - name: Deploy Lambda function
        run: |
          if [ "${{ env.exists }}" == "true" ]; then
            echo "Lambda function exists, updating..."
            aws lambda update-function-code --function-name my-lambda-function \
              --s3-bucket checklamdba1 \
              --s3-key lambda-deploy.zip \
              --region us-east-1
          else
            echo "Lambda function does not exist, creating..."
          fi

      - name: Clean up
        run: make clean  # Clean up generated files after deployment
		
